<div class="mdnavbar">
  <div class="d-flex justify-content-between">
    <%= image_tag "popcorn-logo.png", width: 30, class:"m-2" %>
    <div class="action d-flex ">
      <%= link_to "My List", movies_path, class:"btn btn-outline-success"%>
      <%= link_to "New List", movies_list_new_path, class:"btn btn-outline-success"%>
    </div>
  </div>
</div>

<h1>Create list</h1>
<div class="container">
  <%= simple_form_for @list do |f|%>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class:"btn btn-outline-success" %>
    <%= link_to "Back", movies_path, class:"btn btn-sencondary"%>
    <%# <%= button_tag 'Close', type: 'button', action:"moives_path" class:"btn btn-outline-sencondary"%>
  <% end %>
</div>
