<div class="mdnavbar">
  <div class="d-flex justify-content-between">
    <%= image_tag "popcorn-logo.png", width: 30, class:"m-2" %>
    <div class="d-flex align-middle text-center">
      <%= link_to "My List", movies_path, class:"btn btn-outline-success"%>
      <%= link_to "New List", movies_list_new_path, class:"btn btn-outline-success"%>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container text-center">
    <h1>Save any kind of movies</h1>
  </div>
</div>
<div class="list d-flex justify-content-between my-2">
  <h4>My Lists</h4>
  <%= link_to "Create a movie list", movies_list_new_path, class:"btn btn-outline-success"%>
</div>

<div class="cards">
  <% @lists.each do |list|%>
  <div class="card-category border" style="background-image: url( )">
    <%= link_to list.name, list_path(list)%>
  </div>
  <% end %>
</div>
